* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scratch {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/scratch_off_background.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
}

.scratch__container {
  display: flex;
  justify-content: center;
  align-items: center;


  height: 100vh;
}


.scratch__secret {
  position: absolute;
  text-align: center;
  z-index: -1;
}

.scratch__ball {
  width: 51px;
  height: 51px;

}

.scratch__text {
  position: absolute;
  top: 14px;
  left: 22px;
  font-family: PingFangSC;
  font-size: 16px;
  font-weight: 600;

}


.scratch__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto
}